{% extends 'main/main.html' %}
{% load static %}
{% block content %}

{% block content %}
  <h1>Add Mood for {{ date }}</h1>
  <form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <th>Happiness:</th>
        <td>{{ form.happiness }}</td>
      </tr>
      <tr>
        <th>Anger:</th>
        <td>{{ form.anger }}</td>
      </tr>
      <tr>
        <th>Anxiety:</th>
        <td>{{ form.anxiety }}</td>
      </tr>
      <tr>
        <th>Energy:</th>
        <td>{{ form.energy }}</td>
      </tr>
      <tr>
        <th>Motivation:</th>
        <td>{{ form.motivation }}</td>
      </tr>
    </table>
    <input type="submit" value="Save">
  </form>
{% endblock %}