{% extends 'main/main.html' %}

{% block content %}
{% load static %}
<style>

  /* Split the screen in half */
  .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  margin-top: 56px;
  background-color: #9a99f2;
}

/* Control the right side */
.right {
  right: 0;
  margin-top: 56px;
  background-color: #ccdcff;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button-menu {
  border: 3px solid #9a99f2;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width:auto;
  height: auto;
  box-shadow: 0px 4px 8px rgba(154, 153, 242, 0.3); 
}

.button-menu:hover {
  background-color: #b3beff;
  color: #000000;
}


.button-menu-pic {
  width: 175px;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  width:auto;
  height: auto;
}
</style>

<div class="split left">
    <div class="centered">
        <div class="title">
        <h1>Welcome to MoodON, {{ request.user.username }}</h1>
        <p>How are you feeling today?</p>
        <img class="profile-picture" src="{{request.user.profile.profile_picture.url}}" >

        </div>
    </div>
<div class="split right">
  <div class="centered">
<!-- images not displaying, both local and online -->
    <div class="menu-container">
      <div class="button-menu">
        <a href="/calendar/"><img class="button-menu-pic" src="{% static '/images/calendar1.png' %}" alt="Mood Tracker"></a>
        <p> Mood Tracker </p>
      </div>
      <div class="button-menu">
        <a href="/relaxation/"><img class="button-menu-pic" src="{% static '/images/breathing.png' %}" alt="Breathing exercises"></a>
        <p>Relaxation</p>
      </div>
      <div class="button-menu">
        <a href="#"><img class="button-menu-pic" src="{% static 'images/education.png' %}"></a>
        <p>Psychoeductaion</p>
      </div>
    </div>
    <div class="menu-container">
      <div class="button-menu">
        <a href="/daily-routine/"><img class="button-menu-pic" src="{% static 'images/Schedule.png' %}" alt="Daily Routine"></a>
        <p>Daily routine</p>
      </div>
      <div class="button-menu">
        <a href="/to-do/"><img class="button-menu-pic" src="{% static 'images/todo.png' %}" alt="to-do"></a>
        <p> To-do</p>
      </div>
      <div class="button-menu">
        <a href="/meds-tracking/"><img class="button-menu-pic" src="{% static 'images/meds.png' %}" alt="Meds-tracking"></a>
        <p>Meds-tracking</p>
      </div>
    </div>
    <a href="https://storyset.com/"> Illustrations by Storyset</a>
  </div>
</div>
{% endblock %}
