{% extends 'main/main.html' %}

{% block content %}
{% load static %}
<style>

  /* Split the screen in half */
  .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  margin-top: 56px;
  background-color: #9a99f2;
}

/* Control the right side */
.right {
  right: 0;
  margin-top: 56px;
  background-color: #ccdcff;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


</style>
<div class="split left">
    <div class="centered">
        <div class="title">
        <h1>Welcome to MoodON</h1>
        <p>How are you feeling today?</p>
        <!-- https://getbootstrap.com/docs/4.0/components/collapse/ -->
        </div>
    </div>
<div class="split right">

    <a href="/calendar/"><img src="{% static 'mood_tracker/static/images/calendar.png' %}" alt="My image">></a>


</div>
{% endblock %}
