{% extends "base.html" %}

{% block head_title %} About {% endblock %}

{% block content %}

	<div class="content_size">
		<div class="row-fluid">
			<h1>This is neat. What's it about though?</h1>
		</div>
		<div class="row-fluid">
			<h3>What is mood?</h3>
			<p>
				Mood is an early alpha webapp I am developing in order to make it easier to be mindful of your emotional state. Keeping track of how you feel at certain times and with different metrics is a useful tool to learn about your own emotions, habits and how to keep yourself happy and motivated.			</p>
			<h3>Why are you developing this?</h3>
			<p>
				I am passionate about mental health and <a href="https://en.wikipedia.org/wiki/Cognitive_behavioral_therapy"> cognitive behavioral therapy </a> has been a hugely helpful treatment for my own. Part of my CBT regimen is mindfulness of my emotional state so recording my mood is important. I've been playing around with in my head for more than a year, recording how I feel in notebooks. Although this has been helpful, it is not as useful for a statistical analysis. If I can help even one person beyond with this app then every bit of work I put into it will be worth it.
			</p>
			<p>
				I also wanted to learn Django and this seemed like a great way to do so. Achievement get: Become Full Stack Developer! You can learn more about the technical side of this project <a href="http://marcelli.ca/projects/mood-tracker.html">here</a>
			</p>
			<h3>So who are you?</h3>
			<p>
				<a href="http://marcelli.ca/about/">My name is Lucas Marcelli.</a> I like coding and cats and space. I am a software developer fresh out of school and I have Anxiety and Depression. If you ever need someone to talk to, email me whenever.
			</p>
			<h3>Can I help development?</h3>
			<p>
				<a href="https://github.com/lucasmarcelli/mood-tracker">Yasssssss!</a> Fork and make a PR, once I pull a couple in I'll add you as a contributor!
			</p>
			<h3>Does this cost anything to use?</h3>
			<p>
				Nope, and it never will.
			</p>
		</div>
	</div>







{% endblock %}