{% extends 'base.html' %}

{% block head_title %}News and Updates.{% endblock %}

{% block content %}

	<div class="content_size">
		<div class="row-fluid">
			<h1>Latest Update: {{ view.latest.title }}</h1>
		</div>
		<div class="row-fluid">
			<p>
				{{ view.latest.content|linebreaks }}
			</p>
		</div>
		<div class="row-fluid">
			<h3> News Archive </h3>
			<ul>
				{% for thing in object_list reversed %}
					{% if thing.show %}
						<li>
							<a href="{% url 'news_detail' thing.pk %}">{{ thing.date }} - {{ thing.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock content %}